* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* COLORS */
    --primary-100: #f28963;
    --primary-200: #bf5a36;
    --primary-300: #f24c27;

    --secondary-100: #546467;
    --secondary-200: #23373c;
    --secondary-300: #0b2126;

    --grey-100: #eceded;
    --grey-200: #bcc1bf;
    --grey-300: #9fa6a3;

    --black: #111111;
    --white: #fefcfd;

    /* FONT */
    --primary-fontFamily: 'Raleway', sans-serif;
    --secondary-fontFamily: 'Montserrat', sans-serif;

    /* REST vars */
    --backgroundColor: var(--white);
    --borderRadius: 50px;
    --letterSpacing: 2px;
    --transition: 0.5s;
}

body {
    font-family: var(--primary-fontFamily);
    color: var(--white);
}

.btn {
    width: 70%;
    padding: 0.5rem;
    margin-left: 0;
    font-weight: 500;
    font-size: 0.75rem;
    font-family: inherit;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 3px solid var(--primary-300);
    border-radius: 25px;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    margin-left: 1rem;
    background-color: var(--primary-300);
}

.arrow {
    margin-top: 1.8rem;
    font-size: 2.5rem;
    color: var(--black);
}
